<!DOCTYPE html>
<html>
<head>
  <title>Git Health Check</title>

  <style type="text/css">
      html {
      }

      body {
          background: none repeat scroll 0 0 #FFFFFF;
          color: #000000;
          font-family: tahoma, verdana, arial, sans-serif;
          font-size: 82%;
          line-height: 1.5em;
          margin: 10px;
          padding: 0;
      }

      a {
          color: #0254D0;
          text-decoration: none;
      }

      h1, h2, h3 {
          color: #000000;
          letter-spacing: 0;
      }

      h1 {
          font-size: 24px;
      }

      h2 {
          font-size: 18px;
          margin: 0 27px 15px 0;
          padding: 10px 0 2px;
      }

      h3 {
          font-size: 16px;
      }

      #menu > a {
          font-weight: bold;
      }
  </style>
</head>
<body>
<h1>Git Health Check Report Summary for <%= @repository %></h1>

<hr>

<div id="workingcopy">

  <h2>Working Copy</h2>

  <p>
    <%= @working_copy %>
  </p>

</div>

<hr>

<div id="history">
  <h2>History</h2>

  <p>This metric provides a thorough assessment of your repository's history by identifying the largest files
    (with a configurable threshold that defaults at 0.5 MB) that have been committed historically <strong>but are
    no longer part of the working copy</strong>.</p>

  <p>
    <%= @history %>
  </p>
</div>

</body>
</html>
